body{
    margin: 0 10rem;
    background-color: whitesmoke;
}
/*NAVBAR*/
.nav ul{
    list-style: none;  
}
.logo{
    padding: 2rem;
}
.item{
    padding-right: 2rem;
}
a{
    text-decoration: none;
    color: inherit;
}
.search{
    padding: 2rem;
}
/*About ME*/
.main{
    padding: 6rem;
}
.myimg{
    height: 20rem;
    width: auto;
    border-radius: 50%;
    padding: 0 2rem;
}
.about{
    width: 30rem;
}
button{
    width: 5rem;
}
/*Media Queries*/
@media only screen and (max-width: 1150px) and (min-width:500px){

    body{
        margin: 0;
    }
    /*Nav Bar*/
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .navitem{
        font-size: small;
    }
    .logo{
        height: 0;
        padding: 2rem 0 1rem 0;
    }
    .search{
        height: 0;
    }
}