body{
    margin: 0 10rem;
    background-color: blanchedalmond;
}
/*NAVBAR*/
.nav ul{
    list-style: none;
}
.logo{
    padding: 2rem;
}
.item{
    padding-right: 2rem;
}
a{
    text-decoration: none;
    color: inherit;
}
/*Media Queries*/
@media only screen and (max-width: 768px){
    
}